/* Web styles */

@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

body {
  background: linear-gradient(to bottom, #000000 0%, #1E1E1E 100%);
  color: white;

  font-family: 'Jim Nightshade', cursive;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

h3 {
  font-size: 40px;
  margin-top: 0;
}

p {
  font-size: 40px;
  margin-bottom: 40px;
}

/* Web animation */

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 800ms ease-out;
}

/* Warning page styles */

button {
  font-family: 'Jim Nightshade', cursive;
  font-size: 40px;

  background: none;
  border: none;
  color: white;

  cursor: pointer;
  transition: all 0.8s;
}

button:hover {
  color: goldenrod;
}

/* Birth date page styles */

.clickable-heading {
  cursor: pointer;
}

/* Count down page styles */

.countdown {
  display: flex;
}

.countdown-input {
  background: none;
  border: none;
  outline: none;
  color: white;

  font-family: 'Jim Nightshade', cursive;
  text-align: center;
  font-size: 48px;

  width: 80px;
  height: 60px;
}

.time-box {
  margin: 0 40px;
}

.colons1 {
  opacity: 0.4;
  font-size: 80px;
  margin-top: -34px;
}

/* Death clock page styles */

.colons2 {
  opacity: 0.4;
  font-size: 80px;
  margin-top: 10px;
}

.leave-button {
  opacity: 0.2;
  font-size: 20px;

  position: absolute;
  top: 40px;
  right: 40px;

  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.leave-button:hover {
  color: goldenrod;
}
